.mainFP{
  background: radial-gradient(#e5f4fa, #42c5f9);
  font-family: 'Varela Round', sans-serif;
}
.headerAllComponents{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  margin-right: 50px;
}
.logoComponents{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logoName{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.donutWord{
  margin-top: -50px;
}
.headerItems{
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;
  position: relative;
}
.choose:hover{
text-decoration: underline;
cursor: pointer;
}
.mainPageContainer{
  display: flex;
  justify-content: space-around;
  color: white;
}
h2{
  font-size: 30px;
}
.mainPicContainer{
  display: flex;
  margin-top: -120px;
}
.LoveDonuts{
  font-family: 'Varela Round', sans-serif;
  font-size: 80px;
  margin-top: -5px;

}
.mainTextContainer{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.textAfter{
  margin-top: -10px;
  font-size: 20px;
}
.myCartButton{
  color: white;
  font-size: 20px;
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
}
.linkrouter{
  text-decoration: none;
}


.myCartButton:hover{
background: rgba(3, 119, 208, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(5.5px);
border: 1px solid rgba(3, 119, 208, 0.07);
}

.cartNumber{
  position: absolute;
  right: 16px;
  bottom: 18px;
  padding: 5px;
  z-index:1;
  background-color: #FF9EAA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order{
  padding: 8px;
  margin-top: 20px;
}
.reasonsContainer{
display: flex;
justify-content: space-around;
margin-top: 100px;
}
.reasonCard{
display: flex;
flex-direction: column;
align-items: center;
}
.reasonText{
  font-size: 15px;
  color: #0C134F;
  font-family: 'Varela Round', sans-serif;
}
.categoryLine{
  display: flex;
  font-family: 'Varela Round', sans-serif;
  color: #0C134F;
  flex-direction: column;
  font-size: 20px;
  margin-top: 70px;
  align-items: center;
}
.categoryNames{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 30px;
}
.categoryButtonSelected{
cursor: pointer;
background: rgba(66, 197, 249, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(66, 197, 249, 1);
}


.donutsLine{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.dishesComponents{
  display: flex;
  padding: 30px;
}
.dishImg{
  width: 200px;
}
.dishCard{
  display: flex;
  flex-direction: column;
  align-items: center;
background: rgba(239, 219, 221, 0.23);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
border: 1px solid rgba(239, 219, 221, 0.83);
color: #0C134F;
  padding: 16px;
  font-family: 'Varela Round', sans-serif;
}
.dishPrice{
  margin-top: -15px;
}
.addToCartButton{
background-color: #FF9EAA;
color: white;
border: none;
border-radius: 16px;
padding: 8px;
margin-left: 30px;
font-family: 'Varela Round', sans-serif;
}
.buttons{
display: flex;
}
.minusplus{
  background: rgba(239, 219, 221, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(247, 188, 193, 0.83);
  color: #0C134F;
  width: 20px;
  padding: 5px;
}
.deleteSpan{
  padding: 5px;
}

.categoryButtonSelected{
background: rgba(66, 197, 249, 0.64);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(66, 197, 249, 1);
  display: flex;
  justify-content: center;
  color: white;
  width: 150px;
}
.categoryButton:hover{
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(66, 197, 249, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 150px;
}
.quantityButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantitySpan{
  padding: 5px;
}


.feedbackMain{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 500px;
  position: relative;
}

.feedbackBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.feedbackText{
  font-family: 'Varela Round', sans-serif;
  color: #0C134F;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  color: #0C134F;
  font-size: 20px;
  }
.person-img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  object-fit: cover;
  padding: 10px;
}
.infoText{
  font-family: 'Varela Round', sans-serif;
  color: #0C134F;
  font-size: 18px;
}
.containerWArrows{
  display: flex;
  align-items: center;
}
.reviewArrow{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: white;
  background-color: #42c5f9;
  margin: 200px;
}
.reviewArrow:hover{
  background-color: #FF9EAA;
}
.spanQuo{
  position: absolute;
}
.quotationImg{
  width: 40px;
}
.up{
  left: 330px;
  bottom: 160px;
}
.down{
  right: 330px;
  bottom: 15px;
}
.popup{
  position: absolute;
}
.one{
  width: 30px;
  left: 300px;
  top: 180px;
}
.two{
  width: 50px;
  right: 250px;
  top: 10px;
}
.three{
  width: 80px;
  right: 120px;
  bottom: 10px;
}
.four{
  width: 50px;
  left: 110px;
  bottom: 70px;
}
.five{
  width: 30px;
  right: 100px;
  top: 150px;
}
.six{
  width: 70px;
  left: 100px;
  top: 100px;
}

.footerBox{
  background: radial-gradient(#e5f4fa, #42c5f9);
  font-family: 'Varela Round', sans-serif;
  color: #0C134F;
  padding: 40px;
  display: flex;

  justify-content: space-around;
  margin-top: 70px;
}
.map{
  width: 350px;
}
.footerh1{
  font-size: 20px;
}

.legal{
  background-color: #0C134F;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
.info:hover{
  cursor: pointer;
  font-weight: 600;
}
.toMyPage{
  color: white;
}




.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  }
  .btn{
      color: white;
      background-color: #0C134F;
      cursor: pointer;
      padding: 5px;
  }
  .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
background: rgba(66, 197, 249, 0.37);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.4px);
-webkit-backdrop-filter: blur(10.4px);
border: 1px solid rgba(66, 197, 249, 1);
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
  justify-content: center;
  align-items: flex-start;
  }
  
  .modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 158, 170, 0.54);
  border-radius: 16px;
  padding: 20px;
  width: 60%;
  max-height: 75%;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  overflow: auto;
  }

  .modalTwoText{
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
  }




